<h3 id="service">OUR SERVICES</h3>
<div class="grid-container">
  <div class="grid-item">
    <h3>TRAVEL</h3>
    <h4>Article title</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat
      faucibus sapien, vel volutpat magna tempus sed.
    </p>
  </div>
  <div class="grid-item">
    <h3>TRAVEL ARRANGEMENTS</h3>
    <h4>Article title</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat
      faucibus sapien, vel volutpat magna tempus sed.
    </p>
  </div>
  <div class="grid-item">
    <h3>OUR PROFESSIONAL GUIDE</h3>
    <h4>Article title</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat
      faucibus sapien, vel volutpat magna tempus sed.
    </p>
  </div>
  <div class="grid-item">
    <h3>ACTIVITIES</h3>
    <h4>Article title</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat
      faucibus sapien, vel volutpat magna tempus sed.
    </p>
  </div>
</div>
